body {
    background: linear-gradient(120deg, #ff0000, #000000 , #000000, #ff0000);
    min-height: 100vh;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1 {
    margin-top: 40px;
    margin-bottom: 10px;
    color: #ffffff;
    font-size: 2.2em;
    font-weight: 700;
    letter-spacing: 1px;
    text-align: center;
}
img {
    width: 200px;
    height: 200px;
    margin-bottom: 20px;
}

div {
    background: #222121;
    padding: 40px 30px;
    border-radius: 12px;
    box-shadow: 0 8px 32px 0 rgba(44, 62, 80, 0.2);
    min-width: 320px;
    margin-bottom: 40px;
}

h2 {
    text-align: center;
    margin-bottom: 24px;
    color: #2980b9;
    font-weight: 700;
}

tela {
    display: flex;
    flex-direction: column;
}

texto {
    margin-bottom: 6px;
    color: #ffffff;
    font-size: 15px;
    font-weight: 500;
}

input[type="text"],
input[type="password"] {
    padding: 10px;
    margin-bottom: 18px;
    border: 1px solid #b2bec3;
    border-radius: 6px;
    font-size: 15px;
    transition: border 0.2s;
}

input[type="text"]:focus,
input[type="password"]:focus {
    border: 1.5px solid #2980b9;
    outline: none;
}

button[type="submit"] {
    padding: 12px;
    background: #000000;
    color: #fff;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: background 0.2s;
}

button[type="submit"]:hover {
    background: #0400ff;
}

a {
    color: #2980b9;
    text-decoration: none;
    text-align: center;
}

a:hover {
    text-decoration: underline;
}
